<h1>Add a picture</h1>

<!-- <%= form_tag "/pictures" do %>

  <p>
    <%= label_tag :artist %> <br>
    <%= text_field_tag :artist %>
  </p>

  <p>
    <%= label_tag :title %><br>
    <%= text_field_tag :title %>
  </p>

  <p>
    <%= label_tag :url %><br>
    <%= text_field_tag :url %>
  </p>

  <p>
    <%= submit_tag "Save" %>
  </p>

<% end %> -->

<%= link_to "Back to Pictures", pictures_url %>

<%= form_for @picture do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
